        p {
            color: #ffffff;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #ffffff;
            font-family: 'Comic Sans MS', cursive;
        }
        header {
            background-color: #95bbea;
            padding: 20px;
            margin: 0 auto;
        }
        header h1 {
          color: #FFFFFF;
            margin: 0;
        }
        header h2 {
          color: #FFFFFF;
            margin: 0;
            font-family: 'Comic Sans MS', cursive;
        }
        header h3 {
          color: #FFFFFF;
            margin: 0;
            font-family: 'Comic Sans MS', cursive;
        }
        header p {
            color: #FFFFFF;
        }
        body {
            background-color: #95bbea;
            margin: 0;
            text-align: center;
        }section {
          background-color: #ffffff;
          border-radius: 10px;
          border: 2px solid #003e8a;
          padding: 16px;
          margin-bottom: 40px;
          text-align: center;
          width: 330px;
          margin: 10px auto;
        }
        section main {
          width: 330px;
          margin: 0 auto;
        }
        section h3 {
            color: #000000;
            font-family: 'Courier New', monospace;
            font-size: 22px;
            margin-top: 0;
        }
        section p {
            color: #000000;
            font-family: Arial, sans-serif;
            font-size: 16px;
            text-align: center;
        }
        main {
          width: 370px;
          margin: 0 auto;
          text-align: center;
        }
        main h2 {
          color: #000000;
          font-family: 'Courier New', monospace;
          font-size: 26px;
          text-align: center;
        }
        footer {
          background-color: #95bbea;
          color: #f7f7f7;
          text-align: center;
          padding: 10px;
          bottom: 0;
          width: 100%;
        }
        nav {
          padding: 10px;
          text-align: center;
        } 
        nav a {
          color: #ffffff;
          text-decoration: none;
          font-family: Arial, sans-serif;
          margin: 0 10px;
        }
        .imagem-redonda {
  width: 200px; /* Defina a largura desejada */
  height: 200px; /* Defina a altura igual à largura para formar um quadrado perfeito */
  border-radius: 50%; /*Deixa a imagem redonda*/
  border: 3px solid #003e8a; /*Define a espessura, o estilo e a cor da borda*/
  object-fit: cover;
}
