        p {
            color: #8B4513;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #8B4513;
            font-family: 'Comic Sans MS', cursive;
        }
        header {
            background-color: #6b4602;
            padding: 20px;
            text-align: center;
        }
        header h1 {
          color: #FFFFFF;
            margin: 0;
        }
        header p {
            color: #FFFFFF;
        }
        body {
            background-color: #FFF8DC;
            margin: 0;
        }section {
          background-color: #ffffff;
          border-radius: 10px;
          border: 2px solid #8B4513;
          padding: 16px;
          margin-bottom: 10px;
        }
        section h3 {
            color: #8B4513;
            font-family: 'Courier New', monospace;
            font-size: 22px;
            margin-top: 0;
        }
        section p {
            color: #8B4513;
            font-family: Arial, sans-serif;
            font-size: 18px;
        }
        main {
          width: 400px;
          margin: 0 auto;
        }
        main h2 {
          color: #8B4513;
          font-family: 'Courier New', monospace;
          font-size: 26px;
          text-align: center;
        }
        footer {
          background-color: #6b4602;
          color: #FFFFFF;
          text-align: center;
          padding: 10px;
          position: fixed;
          bottom: 0;
          width: 100%;
        }
        nav {
          padding: 10px;
          text-align: center;
        } 
        nav a {
          color: #ffffff;
          text-decoration: none;
          font-family: Arial, sans-serif;
          margin: 0 10px;
        }